.login {
    margin: 0 auto;
    max-width: 660px;
    padding: 20px;
    margin-top: 80px;

    &-btn {
        margin-top: 20px;
    }

    &-footer {
        margin-top: 20px;
        font-size: 10px;
        
        a {
            text-decoration: none;
            color: rgb(0, 150, 136);
        }    
    }
}