.login {
  margin: 0 auto;
  max-width: 660px;
  padding: 20px;
  margin-top: 80px; }
  .login-btn {
    margin-top: 20px; }
  .login-footer {
    margin-top: 20px;
    font-size: 10px; }
    .login-footer a {
      text-decoration: none;
      color: #009688; }

.registration {
  background-color: yellow; }

.main-container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1280px; }
