.login {
  margin: 0 auto;
  max-width: 660px;
  padding: 20px;
  margin-top: 80px; }

.registration {
  margin: 0 auto;
  max-width: 660px;
  background-color: yellow;
  padding: 20px;
  margin-top: 20px; }

body {
  background-color: #F5F5F5; }

.main-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 680px; }

.auth-btn {
  margin-top: 20px; }

.auth-footer {
  margin-top: 20px;
  font-size: 12px; }
  .auth-footer a {
    text-decoration: none;
    color: #009688; }
